header{
    padding-bottom: 1.5rem;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pesquisa{
    width: 35%;
    padding: 1rem;
}

.cabecalho .usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .usuario__nome{
    margin-left: 0.5rem;
}