.menu__titulo{
    padding-bottom: 0.5rem;
}
.itens a{
    display: flex;
    align-items: center; 
}

.menu__icon{
    background-color: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0; 
}

.menu__icon:hover{
    background-color: #5081FB;
    transition-duration: 2s;
}

#ativo{
    background-color: #5081FB;
}