.personalizacao{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.personalizacao select{
    margin: 1rem 0;
}

.personalizacao input{
    width: auto;
    height: 3rem;
    background-color: #051D3B;
    border: 1px solid white;
}

.botao__salvar_projeto button{
    background-color: #5081FB;
    border-radius: 8px;
    border: none;
    color: #051D3B;
    padding: 1rem;
    width: 100%;
}